In [ ]:
import pandas as pd
df=pd.read_excel('/content/project.xlsx')
print (df)

      Customer_ID              Name  Age  Gender                  Country  \
0          1191.0     Larry Wallace   31   Other                      NaN
1          8287.0      Shawn Palmer   20    Male                   Uganda
2          6574.0     Daniel Cortez  105     Mle               Tajikistan
3          3377.0      Cindy Barber  100  Female                    Chile
4          5107.0     William Patel  110     Mle              Timor-Leste
...           ...               ...  ...     ...                      ...
9995       8287.0    Deborah Garcia   11     Mle               Cape Verde
9996       8932.0     Donald Pineda   69  Female                      NaN
9997       6328.0  Alexandria Moore   -5   Other  Cocos (Keeling) Islands
9998       8121.0               NaN  110    Male        Equatorial Guinea
9999       2851.0  Kathleen Leblanc   67     Mle                  Albania

             State                City                               Email  \
0         Arkansas           Janetfort  gonzalezbrandi@shaffer-lambert.com
1            Texas          Smithhaven            davidmendoza@hotmail.com
2          Montana  West Jennifermouth               hoffmancole@yahoo.com
3             Ohio          Staceyberg            carpenterlinda@yahoo.com
4           Hawaii     South Hollyfort     blairivan@lyons-christensen.org
...            ...                 ...                                 ...
9995         Maine         Lake Albert               timothy71@hotmail.com
9996  Pennsylvania         Raymondbury                  gsmith@hotmail.com
9997  Pennsylvania          Port Frank          morgansamantha@hotmail.com
9998         Maine      Jacquelinefort     courtneybradley@day-gilbert.com
9999      Virginia      South Michelle  kristincook@thompson-campbell.info

     Signup_Date Account_Status  ...  Quantity Purchase_Date Delivery_Date  \
0     2021-05-23       Inactive  ...        12    2025-04-04    2025-09-10
1     2025-05-18            NaN  ...         9    2025-01-23    2025-05-29
2     2025-05-19         Active  ...         0    2025-08-08    2025-01-30
3     2024-08-19         Active  ...         9    2025-03-25    2025-01-24
4     2020-05-04            NaN  ...         7    2025-05-04    2025-04-26
...          ...            ...  ...       ...           ...           ...
9995  2025-02-18       Inactive  ...        17    2025-01-30    2025-03-19
9996  2022-07-03            NaN  ...        -5    2025-05-22    2025-04-12
9997  2023-03-01         Banned  ...         4    2025-02-18    2025-08-14
9998  2022-11-20       Inactive  ...         8    2025-05-30    2025-03-21
9999  2024-04-01       Inactive  ...        15    2025-04-07    2025-07-01

      Payment_Type  Feedback_Score  \
0               up             4.7
1             Cash             4.2
2              UPI             3.7
3            Debit             4.4
4               up             2.5
...            ...             ...
9995          Cash             1.2
9996        Credit             3.7
9997           UPI             4.6
9998        Credit             0.3
9999          Cash             0.9

                                              Comments Customer_Loyalty  \
0                             During about main range.              NaN
1        Beat increase state especially society color.        Returning
2                                 That resource sound.        Returning
3                   Customer international base media.              New
4                                Sport concern entire.              New
...                                                ...              ...
9995                                               NaN              NaN
9996  Cut talk father trade last Democrat participant.              VIP
9997         Place our focus television story tonight.        Returning
9998                      Region degree rest never it.              VIP
9999      Surface bill everyone music paper us beyond.              NaN

     Last_Login Signup_Channel  Total_Purchase
0    2025-07-23            Web         7394.28
1    2025-02-21            Web         5083.20
2    2025-04-24            web            0.00
3    2025-07-28            App         7361.37
4           NaT            App         6561.10
...         ...            ...             ...
9995 2025-02-16            web         2742.27
9996 2025-09-18            Web         -792.65
9997        NaT            App         -138.16
9998        NaT          Phone         1542.56
9999 2025-05-24          Phone         5585.55

[10000 rows x 25 columns]

In [ ]:
df=df.drop_duplicates()

In [ ]:
df=df.drop_duplicates('Customer_ID')

In [ ]:
df.drop_duplicates('Customer_ID')

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191.0,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287.0,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574.0,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377.0,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107.0,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,2919.0,Tyler Hunter,44,Female,Guam,Indiana,Tylerville,ashley87@yahoo.com,2021-10-23,NaN,...,6,2025-07-19,2025-07-13,Debit,2.1,NaN,New,2025-09-22,Web,3598.86
9993,8538.0,Harry Carter,108,Female,Tokelau,Texas,West Annaberg,uhayes@clark-webb.com,2023-09-30,Active,...,19,2025-04-15,2025-05-19,Credit,1.6,Six if soldier south support find spring.,New,2025-08-01,Web,1164.13
9994,1905.0,Deborah Young,128,f,Tuvalu,Tennessee,East Anthonytown,james28@yahoo.com,2020-05-04,NaN,...,19,2025-10-01,2025-04-11,UPI,2.8,Shake fill thank buy.,NaN,2025-06-11,app,6487.55
9998,8121.0,NaN,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851.0,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df.drop_duplicates('Email')

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191.0,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287.0,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574.0,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377.0,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107.0,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,2919.0,Tyler Hunter,44,Female,Guam,Indiana,Tylerville,ashley87@yahoo.com,2021-10-23,NaN,...,6,2025-07-19,2025-07-13,Debit,2.1,NaN,New,2025-09-22,Web,3598.86
9993,8538.0,Harry Carter,108,Female,Tokelau,Texas,West Annaberg,uhayes@clark-webb.com,2023-09-30,Active,...,19,2025-04-15,2025-05-19,Credit,1.6,Six if soldier south support find spring.,New,2025-08-01,Web,1164.13
9994,1905.0,Deborah Young,128,f,Tuvalu,Tennessee,East Anthonytown,james28@yahoo.com,2020-05-04,NaN,...,19,2025-10-01,2025-04-11,UPI,2.8,Shake fill thank buy.,NaN,2025-06-11,app,6487.55
9998,8121.0,NaN,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851.0,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df.drop_duplicates('Product_ID')

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191.0,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287.0,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574.0,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377.0,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107.0,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2657,1802.0,Brian Simon,114,Mle,Latvia,Tennessee,New Cynthia,uwalker@graham.org,2021-04-27,Banned,...,7,2025-09-24,2025-06-28,Crdit,1.0,Computer card Republican friend score short.,Returning,2025-08-22,Phone,2144.66
3032,1437.0,Paula Wheeler,111,Mle,Greenland,Connecticut,Port Emilyton,hmunoz@kent.com,2024-09-14,NaN,...,15,2025-08-09,2025-01-02,up,2.1,Almost director simple economic turn.,Returning,2025-06-01,web,8497.50
3034,3786.0,Karen Miller,22,f,France,NaN,West Brenda,zsmall@gmail.com,2023-05-20,NaN,...,15,2025-07-06,2025-08-26,UPI,5.1,Live assume test hear debate theory market.,New,NaT,web,6547.95
3039,201.0,Kirk Clayton PhD,80,f,Russian Federation,South Carolina,Andrewton,cbennett@wright.com,2022-01-24,NaN,...,5,2025-10-08,2025-08-06,Crdit,1.8,Order city officer include bag.,New,2025-01-30,Web,4788.95
3298,5796.0,Angel Hood,53,Mle,NaN,Arkansas,Lake Derek,omar32@yahoo.com,2021-08-19,Banned,...,15,2025-03-10,2025-06-25,Debit,5.8,Popular second song compare.,New,2025-02-28,app,4152.90

In [ ]:
df['Name'].fillna("Unknown")

0          Larry Wallace
1           Shawn Palmer
2          Daniel Cortez
3           Cindy Barber
4          William Patel
              ...
9991        Tyler Hunter
9993        Harry Carter
9994       Deborah Young
9998             Unknown
9999    Kathleen Leblanc
Name: Name, Length: 6173, dtype: object

In [ ]:
df['Email'].fillna(" noemail@example.com ")

0       gonzalezbrandi@shaffer-lambert.com
1                 davidmendoza@hotmail.com
2                    hoffmancole@yahoo.com
3                 carpenterlinda@yahoo.com
4          blairivan@lyons-christensen.org
                       ...
9991                    ashley87@yahoo.com
9993                 uhayes@clark-webb.com
9994                     james28@yahoo.com
9998       courtneybradley@day-gilbert.com
9999    kristincook@thompson-campbell.info
Name: Email, Length: 6173, dtype: object

In [ ]:
df['Product_Name'].fillna("Misc")

0         police
1       training
2        compare
3           miss
4           deal
          ...
9991    majority
9993      finish
9994       world
9998     nothing
9999        cell
Name: Product_Name, Length: 6173, dtype: object

In [ ]:
print(df['Product_Name'])

0         police
1       training
2        compare
3           miss
4           deal
          ...
9991    majority
9993      finish
9994       world
9998     nothing
9999        cell
Name: Product_Name, Length: 6173, dtype: object

In [ ]:
df['Category'].fillna("Misc")

0              Misc
1          Clothing
2              Misc
3              Misc
4       Electronics
           ...
9991           Misc
9993           Misc
9994       Clothing
9998           Misc
9999           Misc
Name: Category, Length: 6173, dtype: object

In [ ]:
df['Feedback_Score'] = df.groupby('Product_ID')['Feedback_Score'].transform(
    lambda x: x.fillna(x.median()))

In [ ]:
df['Quantity'].fillna(1, inplace=True)

/tmp/ipython-input-3696953030.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantity'].fillna(1, inplace=True)

In [ ]:
df['Quantity'] = df['Quantity'].fillna(1)

In [ ]:
df = df[df['Price'] >= 0]

In [ ]:
df = df[df['Price'] != 0]

In [ ]:
df = df[df['Quantity'] >= 0]

In [ ]:
df = df[(df['Age'] >= 0) & (df['Age'] <= 120)]

In [ ]:
df = df[(df['Feedback_Score'] >= 1) & (df['Feedback_Score'] <= 5)]

In [ ]:
df['Purchase_Date'] = pd.to_datetime(df['Purchase_Date'])
df['Delivery_Date'] = pd.to_datetime(df['Delivery_Date'])

In [ ]:
df['Gender'] = df['Gender'].str.lower().replace({'mle':'male','f':'female'})

In [ ]:
df['Payment_Type'] = df['Payment_Type'].str.lower().replace({'creditt':'credit','debittt':'debit'})

In [ ]:
df['Account_Status'] = df['Account_Status'].str.lower().replace({
    'active':'Active',
    'actve':'Active',
    'in-active':'Inactive',
    'inactive':'Inactive',
    'banned':'Banned'
})

In [ ]:
pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}\b'
valid_emails = df[df['Email'].str.match(pattern, na=False)]

In [ ]:
high_price_orders = df[df['Price'] > 500].reset_index(drop=True)

In [ ]:
low_feedback_orders = df[df['Feedback_Score'] < 3]
print(low_feedback_orders)

      Customer_ID               Name  Age  Gender        Country  \
4          5107.0      William Patel  110    male    Timor-Leste
8          8736.0     Katrina Mendez  110  female       Portugal
13          211.0        Lynn Garcia   15    male         Rwanda
14         8372.0       Samuel Mcgee    0    male     Martinique
15         4890.0  Dr. Robert Powers   16    male         Bhutan
...           ...                ...  ...     ...            ...
9940       9483.0    Billy Macdonald   81  female      Hong Kong
9965       7585.0      Melissa Smith   40   other            NaN
9977       7740.0       Crystal Cruz   84    male  Faroe Islands
9991       2919.0       Tyler Hunter   44  female           Guam
9993       8538.0       Harry Carter  108  female        Tokelau

             State             City                            Email  \
4           Hawaii  South Hollyfort  blairivan@lyons-christensen.org
8     Rhode Island      Elliottport            owilliamson@gmail.com
13        Nebraska     Lake Michael                  ocruz@yahoo.com
14      New Jersey     Burkechester              tyler96@hotmail.com
15        Colorado    North Maurice       jennifer98@baker-sims.info
...            ...              ...                              ...
9940     Minnesota   Williamborough           terryriley@hotmail.com
9965      Michigan      Stephenbury        danielsrebecca@carter.com
9977         Maine        Scottfurt         griffiththomas@yahoo.com
9991       Indiana       Tylerville               ashley87@yahoo.com
9993         Texas    West Annaberg            uhayes@clark-webb.com

     Signup_Date Account_Status  ...  Quantity Purchase_Date Delivery_Date  \
4     2020-05-04            NaN  ...         7    2025-05-04    2025-04-26
8     2020-10-20            NaN  ...        12    2025-06-29    2025-01-30
13    2020-08-19         Active  ...        14    2025-05-14    2025-10-12
14    2023-11-01         Active  ...        18    2025-07-07    2025-09-24
15    2022-09-17       Inactive  ...         2    2025-08-06    2025-04-16
...          ...            ...  ...       ...           ...           ...
9940  2020-09-11       Inactive  ...         4    2025-06-15    2025-09-30
9965  2022-11-16         Banned  ...         2    2025-04-19    2025-10-13
9977  2024-10-27            NaN  ...        15    2025-10-09    2025-07-16
9991  2021-10-23            NaN  ...         6    2025-07-19    2025-07-13
9993  2023-09-30         Active  ...        19    2025-04-15    2025-05-19

      Payment_Type  Feedback_Score  \
4               up             2.5
8              upi             2.1
13          credit             2.7
14           debit             2.2
15              up             2.9
...            ...             ...
9940         crdit             1.4
9965           upi             2.2
9977         crdit             1.1
9991         debit             2.1
9993        credit             1.6

                                            Comments Customer_Loyalty  \
4                              Sport concern entire.              New
8         Thing clear side key reflect after parent.              VIP
13                 Now seem could training behavior.              New
14    Term meeting one statement role long campaign.              New
15                                               NaN              New
...                                              ...              ...
9940                  Pressure when look commercial.              NaN
9965                              Around hair major.              NaN
9977          Fine arm democratic foreign agreement.        Returning
9991                                             NaN              New
9993       Six if soldier south support find spring.              New

     Last_Login Signup_Channel  Total_Purchase
4           NaT            App         6561.10
8    2025-04-20          Phone         8655.84
13   2025-01-01            app         4000.36
14   2025-03-11          Phone         4285.26
15   2025-01-22            Web         1832.66
...         ...            ...             ...
9940 2025-09-24            Web         1407.56
9965 2025-08-20          Phone           61.70
9977 2025-09-03          Phone         3385.80
9991 2025-09-22            Web         3598.86
9993 2025-08-01            Web         1164.13

[1365 rows x 25 columns]

In [ ]:
vip_customers = df[(df['Customer_Loyalty'] == 'VIP') & (df['Total_Purchase'] > 1000)]
print(vip_customers)

      Customer_ID             Name  Age  Gender  \
8          8736.0   Katrina Mendez  110  female
12         3623.0     John Ramirez   31    male
17         5598.0    Michelle Case    6   other
26         5268.0   Janet Thompson   92   other
28         4100.0    Mariah Barnes   76  female
...           ...              ...  ...     ...
9841       9087.0              NaN   53    male
9891        286.0     Kathryn Kemp   87  female
9950       6512.0  William Mcmahon   30    male
9980       5619.0     Jimmy Rogers   37  female
9987       2035.0      Michael Lee    0   other

                                                Country          State  \
8                                              Portugal   Rhode Island
12                                                  NaN            NaN
17                                                  NaN        Montana
26                                              Armenia            NaN
28                             Northern Mariana Islands   South Dakota
...                                                 ...            ...
9841                                               Peru        Wyoming
9891                               Netherlands Antilles        Florida
9950                                   Marshall Islands        Montana
9980  British Indian Ocean Territory (Chagos Archipe...  West Virginia
9987                                              Korea            NaN

                  City                       Email Signup_Date Account_Status  \
8          Elliottport       owilliamson@gmail.com  2020-10-20            NaN
12    Lake Melaniestad       michelle23@nelson.net  2025-05-28         Banned
17     Christopherfurt   sullivanjared@hotmail.com  2025-07-29         Banned
26           New Carol     collierjames@gordon.org  2022-05-03         Active
28        Tonyaborough           aaron80@yahoo.com  2023-09-17            NaN
...                ...                         ...         ...            ...
9841    Port Brianport           ghorton@yahoo.com  2022-09-22            NaN
9891        Gomezhaven       josephoneal@adams.net  2024-10-27            NaN
9950     North Rebecca  brian75@jones-griffith.biz  2022-06-04            NaN
9980    South Virginia        denise66@hotmail.com  2025-08-22            NaN
9987         East Mary     alexanderryan@gmail.com  2023-05-20         Banned

      ...  Quantity Purchase_Date Delivery_Date  Payment_Type  Feedback_Score  \
8     ...        12    2025-06-29    2025-01-30           upi             2.1
12    ...        12    2025-02-15    2025-01-02        credit             3.2
17    ...        17    2025-01-03    2025-09-04         debit             3.9
26    ...         2    2025-10-05    2025-06-02          cash             2.3
28    ...         8    2025-10-09    2025-03-16          cash             1.0
...   ...       ...           ...           ...           ...             ...
9841  ...        14    2025-05-23    2025-08-15           upi             1.6
9891  ...         8    2025-08-30    2025-08-30            up             3.5
9950  ...        13    2025-03-03    2025-04-30        credit             4.0
9980  ...        18    2025-09-13    2025-01-04        credit             3.6
9987  ...         4    2025-01-23    2025-10-13         debit             3.2

                                               Comments Customer_Loyalty  \
8            Thing clear side key reflect after parent.              VIP
12             Eat range produce these drop area owner.              VIP
17            Describe again response machine remember.              VIP
26    Certain respond require kitchen perhaps work f...              VIP
28                                  If former activity.              VIP
...                                                 ...              ...
9841                                                NaN              VIP
9891                          Play analysis man common.              VIP
9950  Certainly account set marriage society while i...              VIP
9980  Place shoulder try say establish director resp...              VIP
9987       Month ok something low behind wrong exactly.              VIP

     Last_Login Signup_Channel  Total_Purchase
8    2025-04-20          Phone         8655.84
12   2025-02-02            app         8830.92
17   2025-09-22            App        11291.74
26   2025-10-11            Web         1178.64
28   2025-04-30            web         1656.00
...         ...            ...             ...
9841 2025-03-02            Web         3001.04
9891 2025-01-20            App         4365.92
9950 2025-08-27          Phone         7382.05
9980 2025-07-17            Web         4703.40
9987 2025-01-14            web         1868.00

[547 rows x 25 columns]

In [ ]:
banned_orders = df[df['Account_Status'] == 'Banned']
print(banned_orders)

      Customer_ID               Name  Age  Gender  \
6          5967.0      Courtney Lane   36   other
12         3623.0       John Ramirez   31    male
17         5598.0      Michelle Case    6   other
23         7144.0       Edgar Hughes   10    male
24         1619.0    Michael Shelton   11   other
...           ...                ...  ...     ...
9837       1450.0    Jennifer Miller   29  female
9879       3201.0     Zachary Conrad   14  female
9965       7585.0      Melissa Smith   40   other
9987       2035.0        Michael Lee    0   other
9990       4038.0  Cassandra Collins   80  female

                          Country           State              City  \
6                  American Samoa  South Carolina        Andrewview
12                            NaN             NaN  Lake Melaniestad
17                            NaN         Montana   Christopherfurt
23                          Japan        Maryland      Michelleberg
24                     Mauritania           Idaho       Johnsonbury
...                           ...             ...               ...
9837  French Southern Territories            Utah      Harrellburgh
9879       Libyan Arab Jamahiriya             NaN         Ericastad
9965                          NaN        Michigan       Stephenbury
9987                        Korea             NaN         East Mary
9990                        Chile     Mississippi         West Mark

                            Email Signup_Date Account_Status  ...  Quantity  \
6             smithkeith@shaw.com  2024-01-22         Banned  ...         1
12          michelle23@nelson.net  2025-05-28         Banned  ...        12
17      sullivanjared@hotmail.com  2025-07-29         Banned  ...        17
23              nbrooks@yahoo.com  2023-07-16         Banned  ...        11
24        jasonthomas@everett.com  2022-11-15         Banned  ...         8
...                           ...         ...            ...  ...       ...
9837        noahpittman@yahoo.com  2023-09-04         Banned  ...        13
9879           jordan63@haley.com  2022-08-21         Banned  ...         1
9965    danielsrebecca@carter.com  2022-11-16         Banned  ...         2
9987      alexanderryan@gmail.com  2023-05-20         Banned  ...         4
9990  stanleysarah@harrington.org  2020-02-24         Banned  ...         0

     Purchase_Date Delivery_Date  Payment_Type  Feedback_Score  \
6       2025-05-31    2025-04-14          cash             3.5
12      2025-02-15    2025-01-02        credit             3.2
17      2025-01-03    2025-09-04         debit             3.9
23      2025-05-24    2025-09-25         debit             3.0
24      2025-04-12    2025-06-02          cash             1.7
...            ...           ...           ...             ...
9837    2025-07-25    2025-01-21           upi             2.5
9879    2025-08-04    2025-07-28         crdit             4.6
9965    2025-04-19    2025-10-13           upi             2.2
9987    2025-01-23    2025-10-13         debit             3.2
9990    2025-07-12    2025-03-31        credit             3.7

                                           Comments Customer_Loyalty  \
6               Game house them another order else.              New
12         Eat range produce these drop area owner.              VIP
17        Describe again response machine remember.              VIP
23                Machine memory girl short budget.              NaN
24                   Analysis article sometimes Mr.              New
...                                             ...              ...
9837                                            NaN              VIP
9879  Ago whether company himself any relationship.              New
9965                             Around hair major.              NaN
9987   Month ok something low behind wrong exactly.              VIP
9990       Reflect day cup religious guess involve.        Returning

     Last_Login Signup_Channel  Total_Purchase
6    2025-09-22            app          314.64
12   2025-02-02            app         8830.92
17   2025-09-22            App        11291.74
23   2025-05-04            web         1978.13
24   2025-02-21            web         7102.96
...         ...            ...             ...
9837 2025-09-01            app         7643.09
9879 2025-10-08            Web          909.62
9965 2025-08-20          Phone           61.70
9987 2025-01-14            web         1868.00
9990 2025-02-24            web            0.00

[733 rows x 25 columns]

In [ ]:
late_orders = df[(df['Delivery_Date'] - df['Purchase_Date']).dt.days > 7]
print(late_orders)

      Customer_ID             Name  Age  Gender           Country  \
0          1191.0    Larry Wallace   31   other               NaN
1          8287.0     Shawn Palmer   20    male            Uganda
10         1379.0     Louis Cuevas   83    male           Germany
11         7739.0       Tracy Reed  109    male         Hong Kong
13          211.0      Lynn Garcia   15    male            Rwanda
...           ...              ...  ...     ...               ...
9940       9483.0  Billy Macdonald   81  female         Hong Kong
9950       6512.0  William Mcmahon   30    male  Marshall Islands
9965       7585.0    Melissa Smith   40   other               NaN
9987       2035.0      Michael Lee    0   other             Korea
9993       8538.0     Harry Carter  108  female           Tokelau

            State             City                               Email  \
0        Arkansas        Janetfort  gonzalezbrandi@shaffer-lambert.com
1           Texas       Smithhaven            davidmendoza@hotmail.com
10          Idaho  Samanthachester                   yvonne52@hall.com
11    Mississippi    New Jamieland                   erica26@yahoo.com
13       Nebraska     Lake Michael                     ocruz@yahoo.com
...           ...              ...                                 ...
9940    Minnesota   Williamborough              terryriley@hotmail.com
9950      Montana    North Rebecca          brian75@jones-griffith.biz
9965     Michigan      Stephenbury           danielsrebecca@carter.com
9987          NaN        East Mary             alexanderryan@gmail.com
9993        Texas    West Annaberg               uhayes@clark-webb.com

     Signup_Date Account_Status  ...  Quantity Purchase_Date Delivery_Date  \
0     2021-05-23       Inactive  ...        12    2025-04-04    2025-09-10
1     2025-05-18            NaN  ...         9    2025-01-23    2025-05-29
10    2020-08-02            NaN  ...        15    2025-07-15    2025-09-08
11    2021-09-03            NaN  ...        18    2025-04-10    2025-08-03
13    2020-08-19         Active  ...        14    2025-05-14    2025-10-12
...          ...            ...  ...       ...           ...           ...
9940  2020-09-11       Inactive  ...         4    2025-06-15    2025-09-30
9950  2022-06-04            NaN  ...        13    2025-03-03    2025-04-30
9965  2022-11-16         Banned  ...         2    2025-04-19    2025-10-13
9987  2023-05-20         Banned  ...         4    2025-01-23    2025-10-13
9993  2023-09-30         Active  ...        19    2025-04-15    2025-05-19

      Payment_Type  Feedback_Score  \
0               up             4.7
1             cash             4.2
10          credit             4.9
11           crdit             4.8
13          credit             2.7
...            ...             ...
9940         crdit             1.4
9950        credit             4.0
9965           upi             2.2
9987         debit             3.2
9993        credit             1.6

                                               Comments Customer_Loyalty  \
0                              During about main range.              NaN
1         Beat increase state especially society color.        Returning
10    Suddenly hold power wall daughter least enviro...              New
11           Morning bed perhaps check dream make year.              New
13                    Now seem could training behavior.              New
...                                                 ...              ...
9940                     Pressure when look commercial.              NaN
9950  Certainly account set marriage society while i...              VIP
9965                                 Around hair major.              NaN
9987       Month ok something low behind wrong exactly.              VIP
9993          Six if soldier south support find spring.              New

     Last_Login Signup_Channel  Total_Purchase
0    2025-07-23            Web         7394.28
1    2025-02-21            Web         5083.20
10   2025-05-11            Web         6366.75
11   2025-09-16            app         4852.26
13   2025-01-01            app         4000.36
...         ...            ...             ...
9940 2025-09-24            Web         1407.56
9950 2025-08-27          Phone         7382.05
9965 2025-08-20          Phone           61.70
9987 2025-01-14            web         1868.00
9993 2025-08-01            Web         1164.13

[1360 rows x 25 columns]

In [ ]:
electronics_products = df[df['Category'] == 'Electronics']
print(electronics_products)

      Customer_ID             Name  Age  Gender               Country  \
4          5107.0    William Patel  110    male           Timor-Leste
5          8213.0   Kristen Harvey   62   other             Greenland
6          5967.0    Courtney Lane   36   other        American Samoa
10         1379.0     Louis Cuevas   83    male               Germany
12         3623.0     John Ramirez   31    male                   NaN
...           ...              ...  ...     ...                   ...
9884        504.0         Bob Hunt  110   other              Dominica
9891        286.0     Kathryn Kemp   87  female  Netherlands Antilles
9910       7533.0     Cathy Martin   46  female           Afghanistan
9950       6512.0  William Mcmahon   30    male      Marshall Islands
9987       2035.0      Michael Lee    0   other                 Korea

               State                 City                            Email  \
4             Hawaii      South Hollyfort  blairivan@lyons-christensen.org
5                NaN  South Sheilaborough             jonessusan@gmail.com
6     South Carolina           Andrewview              smithkeith@shaw.com
10             Idaho      Samanthachester                yvonne52@hall.com
12               NaN     Lake Melaniestad            michelle23@nelson.net
...              ...                  ...                              ...
9884           Maine           Knappmouth         theodoreaustin@greer.com
9891         Florida           Gomezhaven            josephoneal@adams.net
9910        New York            Allenland      raymondwilliams@harrell.com
9950         Montana        North Rebecca       brian75@jones-griffith.biz
9987             NaN            East Mary          alexanderryan@gmail.com

     Signup_Date Account_Status  ...  Quantity Purchase_Date Delivery_Date  \
4     2020-05-04            NaN  ...         7    2025-05-04    2025-04-26
5     2024-12-15            NaN  ...        11    2025-09-04    2025-05-22
6     2024-01-22         Banned  ...         1    2025-05-31    2025-04-14
10    2020-08-02            NaN  ...        15    2025-07-15    2025-09-08
12    2025-05-28         Banned  ...        12    2025-02-15    2025-01-02
...          ...            ...  ...       ...           ...           ...
9884  2021-05-11         Active  ...        13    2025-02-22    2025-05-11
9891  2024-10-27            NaN  ...         8    2025-08-30    2025-08-30
9910  2025-01-26       Inactive  ...         3    2025-08-28    2025-04-05
9950  2022-06-04            NaN  ...        13    2025-03-03    2025-04-30
9987  2023-05-20         Banned  ...         4    2025-01-23    2025-10-13

      Payment_Type  Feedback_Score  \
4               up             2.5
5             cash             3.8
6             cash             3.5
10          credit             4.9
12          credit             3.2
...            ...             ...
9884         debit             1.1
9891            up             3.5
9910          cash             4.5
9950        credit             4.0
9987         debit             3.2

                                               Comments Customer_Loyalty  \
4                                 Sport concern entire.              New
5                                                   NaN        Returning
6                   Game house them another order else.              New
10    Suddenly hold power wall daughter least enviro...              New
12             Eat range produce these drop area owner.              VIP
...                                                 ...              ...
9884                Box middle action health fact fire.              New
9891                          Play analysis man common.              VIP
9910              During environmental four food agent.              NaN
9950  Certainly account set marriage society while i...              VIP
9987       Month ok something low behind wrong exactly.              VIP

     Last_Login Signup_Channel  Total_Purchase
4           NaT            App         6561.10
5    2025-04-25            Web         7620.80
6    2025-09-22            app          314.64
10   2025-05-11            Web         6366.75
12   2025-02-02            app         8830.92
...         ...            ...             ...
9884 2025-09-03            app         4178.07
9891 2025-01-20            App         4365.92
9910 2025-08-25          Phone         1996.53
9950 2025-08-27          Phone         7382.05
9987 2025-01-14            web         1868.00

[734 rows x 25 columns]

In [ ]:
indian_customers = df[df['Country'] == 'India']
print(indian_customers)

      Customer_ID                Name  Age  Gender Country         State  \
154        2027.0      Richard Harris   35  female   India       Wyoming
814        8176.0      William Juarez   92  female   India  South Dakota
1622        574.0         Tina Porter   63   other   India      Michigan
1633       3453.0  Mrs. Leslie Guzman   38  female   India      Kentucky
2286       3616.0        James Miller   51    male   India           NaN
2579       2252.0       Darlene Brown   23    male   India    New Jersey
2974       3414.0   Christopher Oneal  111    male   India   Mississippi
3204       1054.0     Christine Allen   46  female   India      Virginia
4318       8921.0  Savannah Mccormick   90   other   India      Maryland
5109        592.0           Ryan Boyd   74    male   India           NaN
7891       7668.0       Donald Brooks   68   other   India        Oregon
8706       8277.0      Colton Jackson   85    male   India  South Dakota
9419       6046.0         Riley Davis   24   other   India     Louisiana

                   City                            Email Signup_Date  \
154     North Ericshire                 lisa42@yahoo.com  2025-08-11
814      Lake Frankfort   obrienderek@watts-saunders.com  2021-06-22
1622       Rebeccamouth           robertturner@gmail.com  2024-04-07
1633  South Joshuashire               qpotts@hotmail.com  2020-02-15
2286          Hardytown             patricia70@gmail.com  2022-06-24
2579    North Ronaldton      mmitchell@perry-jenkins.biz  2020-04-09
2974         West Megan  roberthutchinson@patterson.info  2023-08-04
3204     North Victoria                              NaN  2025-06-02
4318          East Sara             emilyglass@house.com  2022-04-23
5109        Charlesfort        willie17@brown-howell.biz  2021-04-13
7891          Wendyberg           david08@rose-ellis.com  2021-06-15
8706         West David          aprilphillips@yahoo.com  2021-12-21
9419   Fitzpatrickhaven                              NaN  2020-10-19

     Account_Status  ...  Quantity Purchase_Date Delivery_Date  Payment_Type  \
154        Inactive  ...        11    2025-05-25    2025-07-22           upi
814          Banned  ...         6    2025-07-11    2025-08-27            up
1622         Banned  ...         0    2025-06-03    2025-03-17         crdit
1633         Banned  ...         7    2025-09-22    2025-09-29         crdit
2286         Active  ...        17    2025-05-07    2025-08-10         crdit
2579         Active  ...        12    2025-09-07    2025-02-20         debit
2974            NaN  ...         8    2025-07-28    2025-04-08        credit
3204       Inactive  ...         8    2025-05-15    2025-06-23         debit
4318       Inactive  ...         0    2025-06-05    2025-04-10          cash
5109         Active  ...         5    2025-02-10    2025-04-07          cash
7891         Banned  ...         4    2025-03-06    2025-07-29        credit
8706         Banned  ...         1    2025-08-22    2025-02-16           upi
9419            NaN  ...         3    2025-03-31    2025-01-02         debit

      Feedback_Score                                           Comments  \
154              4.2  Different explain something though know ball r...
814              3.5  Section particular so pressure drug ahead cond...
1622             1.3                Budget picture tonight source them.
1633             1.2  Film audience foreign medical so without student.
2286             5.0                From moment since soldier size yes.
2579             3.0      Alone senior style check manage husband team.
2974             4.9                       Leader though will industry.
3204             4.7       Add until language full bill resource music.
4318             2.1         Husband appear none concern discover case.
5109             1.6                            Might early court this.
7891             1.5                          Model suffer century cut.
8706             2.6                             Meet great reach rich.
9419             2.0                      Everyone sense through sound.

     Customer_Loyalty Last_Login Signup_Channel  Total_Purchase
154               New 2025-02-04            app         2670.69
814               NaN 2025-07-03            app         2170.62
1622              VIP        NaT            App            0.00
1633        Returning 2025-08-24            app         2654.75
2286              VIP 2025-01-23            web         2931.99
2579              New 2025-05-11            App         2737.08
2974              New 2025-09-17          Phone         5029.20
3204        Returning 2025-07-22            web         1487.92
4318              VIP        NaT            Web            0.00
5109              New 2025-07-18            App         1605.75
7891              New 2025-09-19            App         2345.40
8706        Returning 2025-01-31            Web          681.87
9419        Returning 2025-10-02            web         2503.32

[13 rows x 25 columns]

In [ ]:
bulk_orders = df[df['Quantity'] > 10]
print(bulk_orders)

      Customer_ID            Name  Age  Gender  \
0          1191.0   Larry Wallace   31   other
5          8213.0  Kristen Harvey   62   other
8          8736.0  Katrina Mendez  110  female
10         1379.0    Louis Cuevas   83    male
11         7739.0      Tracy Reed  109    male
...           ...             ...  ...     ...
9953       1963.0      Gary Jones   71    male
9967       3547.0     Karla Woods   62    male
9977       7740.0    Crystal Cruz   84    male
9980       5619.0    Jimmy Rogers   37  female
9993       8538.0    Harry Carter  108  female

                                                Country           State  \
0                                                   NaN        Arkansas
5                                             Greenland             NaN
8                                              Portugal    Rhode Island
10                                              Germany           Idaho
11                                            Hong Kong     Mississippi
...                                                 ...             ...
9953  British Indian Ocean Territory (Chagos Archipe...        Illinois
9967                       Svalbard & Jan Mayen Islands  South Carolina
9977                                      Faroe Islands           Maine
9980  British Indian Ocean Territory (Chagos Archipe...   West Virginia
9993                                            Tokelau           Texas

                     City                               Email Signup_Date  \
0               Janetfort  gonzalezbrandi@shaffer-lambert.com  2021-05-23
5     South Sheilaborough                jonessusan@gmail.com  2024-12-15
8             Elliottport               owilliamson@gmail.com  2020-10-20
10        Samanthachester                   yvonne52@hall.com  2020-08-02
11          New Jamieland                   erica26@yahoo.com  2021-09-03
...                   ...                                 ...         ...
9953            East John               smithshelly@yahoo.com  2024-09-05
9967           Andrewport      martinezjames@bowen-kramer.biz  2021-10-09
9977            Scottfurt            griffiththomas@yahoo.com  2024-10-27
9980       South Virginia                denise66@hotmail.com  2025-08-22
9993        West Annaberg               uhayes@clark-webb.com  2023-09-30

     Account_Status  ...  Quantity Purchase_Date Delivery_Date  Payment_Type  \
0          Inactive  ...        12    2025-04-04    2025-09-10            up
5               NaN  ...        11    2025-09-04    2025-05-22          cash
8               NaN  ...        12    2025-06-29    2025-01-30           upi
10              NaN  ...        15    2025-07-15    2025-09-08        credit
11              NaN  ...        18    2025-04-10    2025-08-03         crdit
...             ...  ...       ...           ...           ...           ...
9953         Active  ...        11    2025-07-11    2025-01-05          cash
9967            NaN  ...        14    2025-06-16    2025-04-29         crdit
9977            NaN  ...        15    2025-10-09    2025-07-16         crdit
9980            NaN  ...        18    2025-09-13    2025-01-04        credit
9993         Active  ...        19    2025-04-15    2025-05-19        credit

      Feedback_Score                                           Comments  \
0                4.7                           During about main range.
5                3.8                                                NaN
8                2.1         Thing clear side key reflect after parent.
10               4.9  Suddenly hold power wall daughter least enviro...
11               4.8         Morning bed perhaps check dream make year.
...              ...                                                ...
9953             4.8                 Nearly chair six pattern car away.
9967             3.2                                                NaN
9977             1.1             Fine arm democratic foreign agreement.
9980             3.6  Place shoulder try say establish director resp...
9993             1.6          Six if soldier south support find spring.

     Customer_Loyalty Last_Login Signup_Channel  Total_Purchase
0                 NaN 2025-07-23            Web         7394.28
5           Returning 2025-04-25            Web         7620.80
8                 VIP 2025-04-20          Phone         8655.84
10                New 2025-05-11            Web         6366.75
11                New 2025-09-16            app         4852.26
...               ...        ...            ...             ...
9953        Returning 2025-01-04            App         6974.99
9967              New 2025-05-29            App         1791.86
9977        Returning 2025-09-03          Phone         3385.80
9980              VIP 2025-07-17            Web         4703.40
9993              New 2025-08-01            Web         1164.13

[1326 rows x 25 columns]

In [ ]:
high_discount_orders = df[df['Discount'] > 50]
print(high_discount_orders)

Empty DataFrame
Columns: [Customer_ID, Name, Age, Gender, Country, State, City, Email, Signup_Date, Account_Status, Product_ID, Product_Name, Category, Price, Discount, Quantity, Purchase_Date, Delivery_Date, Payment_Type, Feedback_Score, Comments, Customer_Loyalty, Last_Login, Signup_Channel, Total_Purchase]
Index: []

[0 rows x 25 columns]

In [ ]:
high_value_orders = df[(df['Price'] * df['Quantity']) > 1000]
print(high_value_orders)

      Customer_ID            Name  Age  Gender  \
0          1191.0   Larry Wallace   31   other
1          8287.0    Shawn Palmer   20    male
3          3377.0    Cindy Barber  100  female
4          5107.0   William Patel  110    male
5          8213.0  Kristen Harvey   62   other
...           ...             ...  ...     ...
9977       7740.0    Crystal Cruz   84    male
9980       5619.0    Jimmy Rogers   37  female
9987       2035.0     Michael Lee    0   other
9991       2919.0    Tyler Hunter   44  female
9993       8538.0    Harry Carter  108  female

                                                Country          State  \
0                                                   NaN       Arkansas
1                                                Uganda          Texas
3                                                 Chile           Ohio
4                                           Timor-Leste         Hawaii
5                                             Greenland            NaN
...                                                 ...            ...
9977                                      Faroe Islands          Maine
9980  British Indian Ocean Territory (Chagos Archipe...  West Virginia
9987                                              Korea            NaN
9991                                               Guam        Indiana
9993                                            Tokelau          Texas

                     City                               Email Signup_Date  \
0               Janetfort  gonzalezbrandi@shaffer-lambert.com  2021-05-23
1              Smithhaven            davidmendoza@hotmail.com  2025-05-18
3              Staceyberg            carpenterlinda@yahoo.com  2024-08-19
4         South Hollyfort     blairivan@lyons-christensen.org  2020-05-04
5     South Sheilaborough                jonessusan@gmail.com  2024-12-15
...                   ...                                 ...         ...
9977            Scottfurt            griffiththomas@yahoo.com  2024-10-27
9980       South Virginia                denise66@hotmail.com  2025-08-22
9987            East Mary             alexanderryan@gmail.com  2023-05-20
9991           Tylerville                  ashley87@yahoo.com  2021-10-23
9993        West Annaberg               uhayes@clark-webb.com  2023-09-30

     Account_Status  ...  Quantity Purchase_Date Delivery_Date  Payment_Type  \
0          Inactive  ...        12    2025-04-04    2025-09-10            up
1               NaN  ...         9    2025-01-23    2025-05-29          cash
3            Active  ...         9    2025-03-25    2025-01-24         debit
4               NaN  ...         7    2025-05-04    2025-04-26            up
5               NaN  ...        11    2025-09-04    2025-05-22          cash
...             ...  ...       ...           ...           ...           ...
9977            NaN  ...        15    2025-10-09    2025-07-16         crdit
9980            NaN  ...        18    2025-09-13    2025-01-04        credit
9987         Banned  ...         4    2025-01-23    2025-10-13         debit
9991            NaN  ...         6    2025-07-19    2025-07-13         debit
9993         Active  ...        19    2025-04-15    2025-05-19        credit

      Feedback_Score                                           Comments  \
0                4.7                           During about main range.
1                4.2      Beat increase state especially society color.
3                4.4                 Customer international base media.
4                2.5                              Sport concern entire.
5                3.8                                                NaN
...              ...                                                ...
9977             1.1             Fine arm democratic foreign agreement.
9980             3.6  Place shoulder try say establish director resp...
9987             3.2       Month ok something low behind wrong exactly.
9991             2.1                                                NaN
9993             1.6          Six if soldier south support find spring.

     Customer_Loyalty Last_Login Signup_Channel  Total_Purchase
0                 NaN 2025-07-23            Web         7394.28
1           Returning 2025-02-21            Web         5083.20
3                 New 2025-07-28            App         7361.37
4                 New        NaT            App         6561.10
5           Returning 2025-04-25            Web         7620.80
...               ...        ...            ...             ...
9977        Returning 2025-09-03          Phone         3385.80
9980              VIP 2025-07-17            Web         4703.40
9987              VIP 2025-01-14            web         1868.00
9991              New 2025-09-22            Web         3598.86
9993              New 2025-08-01            Web         1164.13

[2216 rows x 25 columns]

In [ ]:
pd.merge(df, df, on='Customer_ID', how='left')

,Customer_ID,Name_x,Age_x,Gender_x,Country_x,State_x,City_x,Email_x,Signup_Date_x,Account_Status_x,...,Quantity_y,Purchase_Date_y,Delivery_Date_y,Payment_Type_y,Feedback_Score_y,Comments_y,Customer_Loyalty_y,Last_Login_y,Signup_Channel_y,Total_Purchase_y
0,1191.0,Larry Wallace,31,other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287.0,Shawn Palmer,20,male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574.0,Daniel Cortez,105,male,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,upi,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377.0,Cindy Barber,100,female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107.0,William Patel,110,male,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2835,5619.0,Jimmy Rogers,37,female,British Indian Ocean Territory (Chagos Archipe...,West Virginia,South Virginia,denise66@hotmail.com,2025-08-22,NaN,...,18,2025-09-13,2025-01-04,credit,3.6,Place shoulder try say establish director resp...,VIP,2025-07-17,Web,4703.40
2836,2035.0,Michael Lee,0,other,Korea,NaN,East Mary,alexanderryan@gmail.com,2023-05-20,Banned,...,4,2025-01-23,2025-10-13,debit,3.2,Month ok something low behind wrong exactly.,VIP,2025-01-14,web,1868.00
2837,4038.0,Cassandra Collins,80,female,Chile,Mississippi,West Mark,stanleysarah@harrington.org,2020-02-24,Banned,...,0,2025-07-12,2025-03-31,credit,3.7,Reflect day cup religious guess involve.,Returning,2025-02-24,web,0.00
2838,2919.0,Tyler Hunter,44,female,Guam,Indiana,Tylerville,ashley87@yahoo.com,2021-10-23,NaN,...,6,2025-07-19,2025-07-13,debit,2.1,NaN,New,2025-09-22,Web,3598.86
2839,8538.0,Harry Carter,108,female,Tokelau,Texas,West Annaberg,uhayes@clark-webb.com,2023-09-30,Active,...,19,2025-04-15,2025-05-19,credit,1.6,Six if soldier south support find spring.,New,2025-08-01,Web,1164.13

In [ ]:
orders_with_products = df.merge(df, on='Product_ID', how='left')
print(orders_with_products)

       Customer_ID_x         Name_x  Age_x Gender_x Country_x   State_x  \
0             1191.0  Larry Wallace     31    other       NaN  Arkansas
1             1191.0  Larry Wallace     31    other       NaN  Arkansas
2             1191.0  Larry Wallace     31    other       NaN  Arkansas
3             1191.0  Larry Wallace     31    other       NaN  Arkansas
4             1191.0  Larry Wallace     31    other       NaN  Arkansas
...              ...            ...    ...      ...       ...       ...
18889         8538.0   Harry Carter    108   female   Tokelau     Texas
18890         8538.0   Harry Carter    108   female   Tokelau     Texas
18891         8538.0   Harry Carter    108   female   Tokelau     Texas
18892         8538.0   Harry Carter    108   female   Tokelau     Texas
18893         8538.0   Harry Carter    108   female   Tokelau     Texas

              City_x                             Email_x Signup_Date_x  \
0          Janetfort  gonzalezbrandi@shaffer-lambert.com    2021-05-23
1          Janetfort  gonzalezbrandi@shaffer-lambert.com    2021-05-23
2          Janetfort  gonzalezbrandi@shaffer-lambert.com    2021-05-23
3          Janetfort  gonzalezbrandi@shaffer-lambert.com    2021-05-23
4          Janetfort  gonzalezbrandi@shaffer-lambert.com    2021-05-23
...              ...                                 ...           ...
18889  West Annaberg               uhayes@clark-webb.com    2023-09-30
18890  West Annaberg               uhayes@clark-webb.com    2023-09-30
18891  West Annaberg               uhayes@clark-webb.com    2023-09-30
18892  West Annaberg               uhayes@clark-webb.com    2023-09-30
18893  West Annaberg               uhayes@clark-webb.com    2023-09-30

      Account_Status_x  ...  Quantity_y Purchase_Date_y Delivery_Date_y  \
0             Inactive  ...          12      2025-04-04      2025-09-10
1             Inactive  ...          14      2025-05-19      2025-05-06
2             Inactive  ...           6      2025-07-12      2025-07-27
3             Inactive  ...          18      2025-06-05      2025-01-14
4             Inactive  ...          12      2025-08-13      2025-01-13
...                ...  ...         ...             ...             ...
18889           Active  ...          12      2025-01-26      2025-05-13
18890           Active  ...          16      2025-06-11      2025-04-25
18891           Active  ...          12      2025-03-07      2025-01-29
18892           Active  ...           5      2025-02-10      2025-04-07
18893           Active  ...          19      2025-04-15      2025-05-19

       Payment_Type_y  Feedback_Score_y  \
0                  up               4.7
1                cash               1.8
2                  up               2.9
3                 upi               3.8
4              credit               3.9
...               ...               ...
18889              up               4.3
18890          credit               1.0
18891          credit               4.4
18892            cash               1.6
18893          credit               1.6

                                              Comments_y Customer_Loyalty_y  \
0                               During about main range.                NaN
1                         Door responsibility help side.                NaN
2                      Respond court development really.                VIP
3      Add wrong official exactly generation process ...                NaN
4                           Find campaign method worker.                NaN
...                                                  ...                ...
18889                      Tree position mind city fine.                NaN
18890                   Show natural eight PM him visit.                VIP
18891                                                NaN                New
18892                            Might early court this.                New
18893          Six if soldier south support find spring.                New

      Last_Login_y Signup_Channel_y  Total_Purchase_y
0       2025-07-23              Web           7394.28
1       2025-09-26            Phone          11998.84
2       2025-01-18              App           3599.64
3       2025-05-10              App          16573.14
4       2025-08-26            Phone           1014.84
...            ...              ...               ...
18889   2025-02-17              app           2566.08
18890   2025-03-17              Web           4595.52
18891          NaT              app           7108.20
18892   2025-07-18              App           1605.75
18893   2025-08-01              Web           1164.13

[18894 rows x 49 columns]

In [ ]:
orders_full = df.merge(df, on='Customer_ID', how='left')

In [ ]:
orders_with_customers = df.merge(df, on='Customer_ID', how='left')
print(orders_with_customers)

      Customer_ID             Name_x  Age_x Gender_x  \
0          1191.0      Larry Wallace     31    other
1          8287.0       Shawn Palmer     20     male
2          6574.0      Daniel Cortez    105     male
3          3377.0       Cindy Barber    100   female
4          5107.0      William Patel    110     male
...           ...                ...    ...      ...
2835       5619.0       Jimmy Rogers     37   female
2836       2035.0        Michael Lee      0    other
2837       4038.0  Cassandra Collins     80   female
2838       2919.0       Tyler Hunter     44   female
2839       8538.0       Harry Carter    108   female

                                              Country_x        State_x  \
0                                                   NaN       Arkansas
1                                                Uganda          Texas
2                                            Tajikistan        Montana
3                                                 Chile           Ohio
4                                           Timor-Leste         Hawaii
...                                                 ...            ...
2835  British Indian Ocean Territory (Chagos Archipe...  West Virginia
2836                                              Korea            NaN
2837                                              Chile    Mississippi
2838                                               Guam        Indiana
2839                                            Tokelau          Texas

                  City_x                             Email_x Signup_Date_x  \
0              Janetfort  gonzalezbrandi@shaffer-lambert.com    2021-05-23
1             Smithhaven            davidmendoza@hotmail.com    2025-05-18
2     West Jennifermouth               hoffmancole@yahoo.com    2025-05-19
3             Staceyberg            carpenterlinda@yahoo.com    2024-08-19
4        South Hollyfort     blairivan@lyons-christensen.org    2020-05-04
...                  ...                                 ...           ...
2835      South Virginia                denise66@hotmail.com    2025-08-22
2836           East Mary             alexanderryan@gmail.com    2023-05-20
2837           West Mark         stanleysarah@harrington.org    2020-02-24
2838          Tylerville                  ashley87@yahoo.com    2021-10-23
2839       West Annaberg               uhayes@clark-webb.com    2023-09-30

     Account_Status_x  ...  Quantity_y Purchase_Date_y Delivery_Date_y  \
0            Inactive  ...          12      2025-04-04      2025-09-10
1                 NaN  ...           9      2025-01-23      2025-05-29
2              Active  ...           0      2025-08-08      2025-01-30
3              Active  ...           9      2025-03-25      2025-01-24
4                 NaN  ...           7      2025-05-04      2025-04-26
...               ...  ...         ...             ...             ...
2835              NaN  ...          18      2025-09-13      2025-01-04
2836           Banned  ...           4      2025-01-23      2025-10-13
2837           Banned  ...           0      2025-07-12      2025-03-31
2838              NaN  ...           6      2025-07-19      2025-07-13
2839           Active  ...          19      2025-04-15      2025-05-19

      Payment_Type_y  Feedback_Score_y  \
0                 up               4.7
1               cash               4.2
2                upi               3.7
3              debit               4.4
4                 up               2.5
...              ...               ...
2835          credit               3.6
2836           debit               3.2
2837          credit               3.7
2838           debit               2.1
2839          credit               1.6

                                             Comments_y Customer_Loyalty_y  \
0                              During about main range.                NaN
1         Beat increase state especially society color.          Returning
2                                  That resource sound.          Returning
3                    Customer international base media.                New
4                                 Sport concern entire.                New
...                                                 ...                ...
2835  Place shoulder try say establish director resp...                VIP
2836       Month ok something low behind wrong exactly.                VIP
2837           Reflect day cup religious guess involve.          Returning
2838                                                NaN                New
2839          Six if soldier south support find spring.                New

     Last_Login_y Signup_Channel_y  Total_Purchase_y
0      2025-07-23              Web           7394.28
1      2025-02-21              Web           5083.20
2      2025-04-24              web              0.00
3      2025-07-28              App           7361.37
4             NaT              App           6561.10
...           ...              ...               ...
2835   2025-07-17              Web           4703.40
2836   2025-01-14              web           1868.00
2837   2025-02-24              web              0.00
2838   2025-09-22              Web           3598.86
2839   2025-08-01              Web           1164.13

[2840 rows x 49 columns]

In [ ]:
average_feedback_per_product = df.groupby('Product_ID')['Feedback_Score'].mean().reset_index()
print(average_feedback_per_product)

     Product_ID  Feedback_Score
0             1        2.600000
1             2        3.580000
2             3        3.127273
3             4        2.463636
4             5        4.000000
..          ...             ...
493         496        3.885714
494         497        3.820000
495         498        3.225000
496         499        4.060000
497         500        3.966667

[498 rows x 2 columns]

In [ ]:
avg_feedback = df.groupby('Product_Name')['Feedback_Score'].mean().reset_index()
print(avg_feedback)

    Product_Name  Feedback_Score
0           True        3.185714
1       American        4.025000
2       Congress        1.700000
3       Democrat        2.900000
4              I        2.200000
..           ...             ...
899          yet        3.000000
900          you        3.960000
901        young        3.050000
902         your        3.650000
903     yourself        1.850000

[904 rows x 2 columns]

In [ ]:
category_per_customer = df.groupby('Customer_ID')['Category'].unique().reset_index()
print(category_per_customer)

      Customer_ID       Category
0             3.0          [nan]
1             4.0         [Misc]
2            10.0          [nan]
3            16.0  [Electronics]
4            18.0     [Clothing]
...           ...            ...
2835       9469.0          [nan]
2836       9475.0         [Misc]
2837       9478.0          [nan]
2838       9483.0         [Misc]
2839       9494.0  [Electronics]

[2840 rows x 2 columns]

In [ ]:
total_purchase = df.groupby('Customer_ID')['Total_Purchase'].sum().reset_index(name='Total')
vip_customers = total_purchase.sort_values(by='Total', ascending=False).head(10)
print(vip_customers)

      Customer_ID     Total
2358       7924.0  19920.00
1290       4376.0  19896.80
2181       7382.0  19784.80
1557       5350.0  19355.40
2598       8765.0  18964.09
2632       8851.0  18871.60
432        1444.0  18867.57
1893       6473.0  18839.60
2501       8406.0  18821.02
2797       9366.0  18627.22

In [ ]:
never_ordered = products[~products['Product_ID'].isin(df['Product_ID'])]
print(never_ordered)

Empty DataFrame
Columns: [Product_ID]
Index: []

In [ ]:

products = pd.DataFrame({'Product_ID': df['Product_ID'].unique()})


never_ordered = products[~products['Product_ID'].isin(df['Product_ID'])]
print(never_ordered)

Empty DataFrame
Columns: [Product_ID]
Index: []

In [ ]:
merged = pd.merge(df, df, on='Customer_ID', how='left')
print(merged)

      Customer_ID             Name_x  Age_x Gender_x  \
0          1191.0      Larry Wallace     31    other
1          8287.0       Shawn Palmer     20     male
2          6574.0      Daniel Cortez    105     male
3          3377.0       Cindy Barber    100   female
4          5107.0      William Patel    110     male
...           ...                ...    ...      ...
2835       5619.0       Jimmy Rogers     37   female
2836       2035.0        Michael Lee      0    other
2837       4038.0  Cassandra Collins     80   female
2838       2919.0       Tyler Hunter     44   female
2839       8538.0       Harry Carter    108   female

                                              Country_x        State_x  \
0                                                   NaN       Arkansas
1                                                Uganda          Texas
2                                            Tajikistan        Montana
3                                                 Chile           Ohio
4                                           Timor-Leste         Hawaii
...                                                 ...            ...
2835  British Indian Ocean Territory (Chagos Archipe...  West Virginia
2836                                              Korea            NaN
2837                                              Chile    Mississippi
2838                                               Guam        Indiana
2839                                            Tokelau          Texas

                  City_x                             Email_x Signup_Date_x  \
0              Janetfort  gonzalezbrandi@shaffer-lambert.com    2021-05-23
1             Smithhaven            davidmendoza@hotmail.com    2025-05-18
2     West Jennifermouth               hoffmancole@yahoo.com    2025-05-19
3             Staceyberg            carpenterlinda@yahoo.com    2024-08-19
4        South Hollyfort     blairivan@lyons-christensen.org    2020-05-04
...                  ...                                 ...           ...
2835      South Virginia                denise66@hotmail.com    2025-08-22
2836           East Mary             alexanderryan@gmail.com    2023-05-20
2837           West Mark         stanleysarah@harrington.org    2020-02-24
2838          Tylerville                  ashley87@yahoo.com    2021-10-23
2839       West Annaberg               uhayes@clark-webb.com    2023-09-30

     Account_Status_x  ...  Quantity_y Purchase_Date_y Delivery_Date_y  \
0            Inactive  ...          12      2025-04-04      2025-09-10
1                 NaN  ...           9      2025-01-23      2025-05-29
2              Active  ...           0      2025-08-08      2025-01-30
3              Active  ...           9      2025-03-25      2025-01-24
4                 NaN  ...           7      2025-05-04      2025-04-26
...               ...  ...         ...             ...             ...
2835              NaN  ...          18      2025-09-13      2025-01-04
2836           Banned  ...           4      2025-01-23      2025-10-13
2837           Banned  ...           0      2025-07-12      2025-03-31
2838              NaN  ...           6      2025-07-19      2025-07-13
2839           Active  ...          19      2025-04-15      2025-05-19

      Payment_Type_y  Feedback_Score_y  \
0                 up               4.7
1               cash               4.2
2                upi               3.7
3              debit               4.4
4                 up               2.5
...              ...               ...
2835          credit               3.6
2836           debit               3.2
2837          credit               3.7
2838           debit               2.1
2839          credit               1.6

                                             Comments_y Customer_Loyalty_y  \
0                              During about main range.                NaN
1         Beat increase state especially society color.          Returning
2                                  That resource sound.          Returning
3                    Customer international base media.                New
4                                 Sport concern entire.                New
...                                                 ...                ...
2835  Place shoulder try say establish director resp...                VIP
2836       Month ok something low behind wrong exactly.                VIP
2837           Reflect day cup religious guess involve.          Returning
2838                                                NaN                New
2839          Six if soldier south support find spring.                New

     Last_Login_y Signup_Channel_y  Total_Purchase_y
0      2025-07-23              Web           7394.28
1      2025-02-21              Web           5083.20
2      2025-04-24              web              0.00
3      2025-07-28              App           7361.37
4             NaT              App           6561.10
...           ...              ...               ...
2835   2025-07-17              Web           4703.40
2836   2025-01-14              web           1868.00
2837   2025-02-24              web              0.00
2838   2025-09-22              Web           3598.86
2839   2025-08-01              Web           1164.13

[2840 rows x 49 columns]

In [ ]:
merged = pd.merge(df, df, on='Product_ID', how='left')
print(merged)

       Customer_ID_x         Name_x  Age_x Gender_x Country_x   State_x  \
0             1191.0  Larry Wallace     31    other       NaN  Arkansas
1             1191.0  Larry Wallace     31    other       NaN  Arkansas
2             1191.0  Larry Wallace     31    other       NaN  Arkansas
3             1191.0  Larry Wallace     31    other       NaN  Arkansas
4             1191.0  Larry Wallace     31    other       NaN  Arkansas
...              ...            ...    ...      ...       ...       ...
18889         8538.0   Harry Carter    108   female   Tokelau     Texas
18890         8538.0   Harry Carter    108   female   Tokelau     Texas
18891         8538.0   Harry Carter    108   female   Tokelau     Texas
18892         8538.0   Harry Carter    108   female   Tokelau     Texas
18893         8538.0   Harry Carter    108   female   Tokelau     Texas

              City_x                             Email_x Signup_Date_x  \
0          Janetfort  gonzalezbrandi@shaffer-lambert.com    2021-05-23
1          Janetfort  gonzalezbrandi@shaffer-lambert.com    2021-05-23
2          Janetfort  gonzalezbrandi@shaffer-lambert.com    2021-05-23
3          Janetfort  gonzalezbrandi@shaffer-lambert.com    2021-05-23
4          Janetfort  gonzalezbrandi@shaffer-lambert.com    2021-05-23
...              ...                                 ...           ...
18889  West Annaberg               uhayes@clark-webb.com    2023-09-30
18890  West Annaberg               uhayes@clark-webb.com    2023-09-30
18891  West Annaberg               uhayes@clark-webb.com    2023-09-30
18892  West Annaberg               uhayes@clark-webb.com    2023-09-30
18893  West Annaberg               uhayes@clark-webb.com    2023-09-30

      Account_Status_x  ...  Quantity_y Purchase_Date_y Delivery_Date_y  \
0             Inactive  ...          12      2025-04-04      2025-09-10
1             Inactive  ...          14      2025-05-19      2025-05-06
2             Inactive  ...           6      2025-07-12      2025-07-27
3             Inactive  ...          18      2025-06-05      2025-01-14
4             Inactive  ...          12      2025-08-13      2025-01-13
...                ...  ...         ...             ...             ...
18889           Active  ...          12      2025-01-26      2025-05-13
18890           Active  ...          16      2025-06-11      2025-04-25
18891           Active  ...          12      2025-03-07      2025-01-29
18892           Active  ...           5      2025-02-10      2025-04-07
18893           Active  ...          19      2025-04-15      2025-05-19

       Payment_Type_y  Feedback_Score_y  \
0                  up               4.7
1                cash               1.8
2                  up               2.9
3                 upi               3.8
4              credit               3.9
...               ...               ...
18889              up               4.3
18890          credit               1.0
18891          credit               4.4
18892            cash               1.6
18893          credit               1.6

                                              Comments_y Customer_Loyalty_y  \
0                               During about main range.                NaN
1                         Door responsibility help side.                NaN
2                      Respond court development really.                VIP
3      Add wrong official exactly generation process ...                NaN
4                           Find campaign method worker.                NaN
...                                                  ...                ...
18889                      Tree position mind city fine.                NaN
18890                   Show natural eight PM him visit.                VIP
18891                                                NaN                New
18892                            Might early court this.                New
18893          Six if soldier south support find spring.                New

      Last_Login_y Signup_Channel_y  Total_Purchase_y
0       2025-07-23              Web           7394.28
1       2025-09-26            Phone          11998.84
2       2025-01-18              App           3599.64
3       2025-05-10              App          16573.14
4       2025-08-26            Phone           1014.84
...            ...              ...               ...
18889   2025-02-17              app           2566.08
18890   2025-03-17              Web           4595.52
18891          NaT              app           7108.20
18892   2025-07-18              App           1605.75
18893   2025-08-01              Web           1164.13

[18894 rows x 49 columns]

In [ ]:
df['Total_Purchase'] = df['Price'] * df['Quantity']

In [ ]:
df['Discounted_Price'] = df['Price'] - df['Discount']

In [ ]:
df['Delivery_Duration'] = df['Delivery_Date'] - df['Purchase_Date']

In [ ]:
bins = [0, 12, 19, 59, 120]  # Age boundaries
labels = ['Child', 'Teen', 'Adult', 'Senior']

df['Age_Group'] = pd.cut(df['Age'], bins=bins, labels=labels, right=True)
print(df)

      Customer_ID               Name  Age  Gender  \
0          1191.0      Larry Wallace   31   other
1          8287.0       Shawn Palmer   20    male
2          6574.0      Daniel Cortez  105    male
3          3377.0       Cindy Barber  100  female
4          5107.0      William Patel  110    male
...           ...                ...  ...     ...
9980       5619.0       Jimmy Rogers   37  female
9987       2035.0        Michael Lee    0   other
9990       4038.0  Cassandra Collins   80  female
9991       2919.0       Tyler Hunter   44  female
9993       8538.0       Harry Carter  108  female

                                                Country          State  \
0                                                   NaN       Arkansas
1                                                Uganda          Texas
2                                            Tajikistan        Montana
3                                                 Chile           Ohio
4                                           Timor-Leste         Hawaii
...                                                 ...            ...
9980  British Indian Ocean Territory (Chagos Archipe...  West Virginia
9987                                              Korea            NaN
9990                                              Chile    Mississippi
9991                                               Guam        Indiana
9993                                            Tokelau          Texas

                    City                               Email Signup_Date  \
0              Janetfort  gonzalezbrandi@shaffer-lambert.com  2021-05-23
1             Smithhaven            davidmendoza@hotmail.com  2025-05-18
2     West Jennifermouth               hoffmancole@yahoo.com  2025-05-19
3             Staceyberg            carpenterlinda@yahoo.com  2024-08-19
4        South Hollyfort     blairivan@lyons-christensen.org  2020-05-04
...                  ...                                 ...         ...
9980      South Virginia                denise66@hotmail.com  2025-08-22
9987           East Mary             alexanderryan@gmail.com  2023-05-20
9990           West Mark         stanleysarah@harrington.org  2020-02-24
9991          Tylerville                  ashley87@yahoo.com  2021-10-23
9993       West Annaberg               uhayes@clark-webb.com  2023-09-30

     Account_Status  ...  Payment_Type Feedback_Score  \
0          Inactive  ...            up            4.7
1               NaN  ...          cash            4.2
2            Active  ...           upi            3.7
3            Active  ...         debit            4.4
4               NaN  ...            up            2.5
...             ...  ...           ...            ...
9980            NaN  ...        credit            3.6
9987         Banned  ...         debit            3.2
9990         Banned  ...        credit            3.7
9991            NaN  ...         debit            2.1
9993         Active  ...        credit            1.6

                                               Comments  Customer_Loyalty  \
0                              During about main range.               NaN
1         Beat increase state especially society color.         Returning
2                                  That resource sound.         Returning
3                    Customer international base media.               New
4                                 Sport concern entire.               New
...                                                 ...               ...
9980  Place shoulder try say establish director resp...               VIP
9987       Month ok something low behind wrong exactly.               VIP
9990           Reflect day cup religious guess involve.         Returning
9991                                                NaN               New
9993          Six if soldier south support find spring.               New

      Last_Login  Signup_Channel Total_Purchase Discounted_Price  \
0     2025-07-23             Web        7394.28           580.23
1     2025-02-21             Web        5083.20           517.73
2     2025-04-24             web           0.00              NaN
3     2025-07-28             App        7361.37           788.94
4            NaT             App        6561.10           897.71
...          ...             ...            ...              ...
9980  2025-07-17             Web        4703.40           225.81
9987  2025-01-14             web        1868.00           439.98
9990  2025-02-24             web           0.00           717.01
9991  2025-09-22             Web        3598.86              NaN
9993  2025-08-01             Web        1164.13            64.83

     Delivery_Duration  Age_Group
0             159 days      Adult
1             126 days      Adult
2            -190 days     Senior
3             -60 days     Senior
4              -8 days     Senior
...                ...        ...
9980         -252 days      Adult
9987          263 days        NaN
9990         -103 days     Senior
9991           -6 days      Adult
9993           34 days     Senior

[2840 rows x 28 columns]

In [ ]:
bins = [0, 1000, 5000, 10000, float('inf')]  # purchase thresholds
labels = ['Bronze', 'Silver', 'Gold', 'Platinum']

df['Loyalty_Level'] = pd.cut(df['Total_Purchase'], bins=bins, labels=labels, right=True)
print(df)

      Customer_ID               Name  Age  Gender  \
0          1191.0      Larry Wallace   31   other
1          8287.0       Shawn Palmer   20    male
2          6574.0      Daniel Cortez  105    male
3          3377.0       Cindy Barber  100  female
4          5107.0      William Patel  110    male
...           ...                ...  ...     ...
9980       5619.0       Jimmy Rogers   37  female
9987       2035.0        Michael Lee    0   other
9990       4038.0  Cassandra Collins   80  female
9991       2919.0       Tyler Hunter   44  female
9993       8538.0       Harry Carter  108  female

                                                Country          State  \
0                                                   NaN       Arkansas
1                                                Uganda          Texas
2                                            Tajikistan        Montana
3                                                 Chile           Ohio
4                                           Timor-Leste         Hawaii
...                                                 ...            ...
9980  British Indian Ocean Territory (Chagos Archipe...  West Virginia
9987                                              Korea            NaN
9990                                              Chile    Mississippi
9991                                               Guam        Indiana
9993                                            Tokelau          Texas

                    City                               Email Signup_Date  \
0              Janetfort  gonzalezbrandi@shaffer-lambert.com  2021-05-23
1             Smithhaven            davidmendoza@hotmail.com  2025-05-18
2     West Jennifermouth               hoffmancole@yahoo.com  2025-05-19
3             Staceyberg            carpenterlinda@yahoo.com  2024-08-19
4        South Hollyfort     blairivan@lyons-christensen.org  2020-05-04
...                  ...                                 ...         ...
9980      South Virginia                denise66@hotmail.com  2025-08-22
9987           East Mary             alexanderryan@gmail.com  2023-05-20
9990           West Mark         stanleysarah@harrington.org  2020-02-24
9991          Tylerville                  ashley87@yahoo.com  2021-10-23
9993       West Annaberg               uhayes@clark-webb.com  2023-09-30

     Account_Status  ...  Feedback_Score  \
0          Inactive  ...             4.7
1               NaN  ...             4.2
2            Active  ...             3.7
3            Active  ...             4.4
4               NaN  ...             2.5
...             ...  ...             ...
9980            NaN  ...             3.6
9987         Banned  ...             3.2
9990         Banned  ...             3.7
9991            NaN  ...             2.1
9993         Active  ...             1.6

                                               Comments Customer_Loyalty  \
0                              During about main range.              NaN
1         Beat increase state especially society color.        Returning
2                                  That resource sound.        Returning
3                    Customer international base media.              New
4                                 Sport concern entire.              New
...                                                 ...              ...
9980  Place shoulder try say establish director resp...              VIP
9987       Month ok something low behind wrong exactly.              VIP
9990           Reflect day cup religious guess involve.        Returning
9991                                                NaN              New
9993          Six if soldier south support find spring.              New

      Last_Login  Signup_Channel  Total_Purchase Discounted_Price  \
0     2025-07-23             Web         7394.28           580.23
1     2025-02-21             Web         5083.20           517.73
2     2025-04-24             web            0.00              NaN
3     2025-07-28             App         7361.37           788.94
4            NaT             App         6561.10           897.71
...          ...             ...             ...              ...
9980  2025-07-17             Web         4703.40           225.81
9987  2025-01-14             web         1868.00           439.98
9990  2025-02-24             web            0.00           717.01
9991  2025-09-22             Web         3598.86              NaN
9993  2025-08-01             Web         1164.13            64.83

     Delivery_Duration Age_Group  Loyalty_Level
0             159 days     Adult           Gold
1             126 days     Adult           Gold
2            -190 days    Senior            NaN
3             -60 days    Senior           Gold
4              -8 days    Senior           Gold
...                ...       ...            ...
9980         -252 days     Adult         Silver
9987          263 days       NaN         Silver
9990         -103 days    Senior            NaN
9991           -6 days     Adult         Silver
9993           34 days    Senior         Silver

[2840 rows x 29 columns]

In [ ]:
gender_map = {'Male': 1, 'Female': 2, 'Other': 3}
df['Gender_Code'] = df['Gender'].map(gender_map)
print(df)

      Customer_ID               Name  Age  Gender  \
0          1191.0      Larry Wallace   31   other
1          8287.0       Shawn Palmer   20    male
2          6574.0      Daniel Cortez  105    male
3          3377.0       Cindy Barber  100  female
4          5107.0      William Patel  110    male
...           ...                ...  ...     ...
9980       5619.0       Jimmy Rogers   37  female
9987       2035.0        Michael Lee    0   other
9990       4038.0  Cassandra Collins   80  female
9991       2919.0       Tyler Hunter   44  female
9993       8538.0       Harry Carter  108  female

                                                Country          State  \
0                                                   NaN       Arkansas
1                                                Uganda          Texas
2                                            Tajikistan        Montana
3                                                 Chile           Ohio
4                                           Timor-Leste         Hawaii
...                                                 ...            ...
9980  British Indian Ocean Territory (Chagos Archipe...  West Virginia
9987                                              Korea            NaN
9990                                              Chile    Mississippi
9991                                               Guam        Indiana
9993                                            Tokelau          Texas

                    City                               Email Signup_Date  \
0              Janetfort  gonzalezbrandi@shaffer-lambert.com  2021-05-23
1             Smithhaven            davidmendoza@hotmail.com  2025-05-18
2     West Jennifermouth               hoffmancole@yahoo.com  2025-05-19
3             Staceyberg            carpenterlinda@yahoo.com  2024-08-19
4        South Hollyfort     blairivan@lyons-christensen.org  2020-05-04
...                  ...                                 ...         ...
9980      South Virginia                denise66@hotmail.com  2025-08-22
9987           East Mary             alexanderryan@gmail.com  2023-05-20
9990           West Mark         stanleysarah@harrington.org  2020-02-24
9991          Tylerville                  ashley87@yahoo.com  2021-10-23
9993       West Annaberg               uhayes@clark-webb.com  2023-09-30

     Account_Status  ...                                           Comments  \
0          Inactive  ...                           During about main range.
1               NaN  ...      Beat increase state especially society color.
2            Active  ...                               That resource sound.
3            Active  ...                 Customer international base media.
4               NaN  ...                              Sport concern entire.
...             ...  ...                                                ...
9980            NaN  ...  Place shoulder try say establish director resp...
9987         Banned  ...       Month ok something low behind wrong exactly.
9990         Banned  ...           Reflect day cup religious guess involve.
9991            NaN  ...                                                NaN
9993         Active  ...          Six if soldier south support find spring.

     Customer_Loyalty Last_Login  Signup_Channel  Total_Purchase  \
0                 NaN 2025-07-23             Web         7394.28
1           Returning 2025-02-21             Web         5083.20
2           Returning 2025-04-24             web            0.00
3                 New 2025-07-28             App         7361.37
4                 New        NaT             App         6561.10
...               ...        ...             ...             ...
9980              VIP 2025-07-17             Web         4703.40
9987              VIP 2025-01-14             web         1868.00
9990        Returning 2025-02-24             web            0.00
9991              New 2025-09-22             Web         3598.86
9993              New 2025-08-01             Web         1164.13

      Discounted_Price Delivery_Duration Age_Group Loyalty_Level  Gender_Code
0               580.23          159 days     Adult          Gold          NaN
1               517.73          126 days     Adult          Gold          NaN
2                  NaN         -190 days    Senior           NaN          NaN
3               788.94          -60 days    Senior          Gold          NaN
4               897.71           -8 days    Senior          Gold          NaN
...                ...               ...       ...           ...          ...
9980            225.81         -252 days     Adult        Silver          NaN
9987            439.98          263 days       NaN        Silver          NaN
9990            717.01         -103 days    Senior           NaN          NaN
9991               NaN           -6 days     Adult        Silver          NaN
9993             64.83           34 days    Senior        Silver          NaN

[2840 rows x 30 columns]

In [ ]:
df['Country'] = df['Country'].str.title()
print(df)

      Customer_ID               Name  Age  Gender  \
0          1191.0      Larry Wallace   31   other
1          8287.0       Shawn Palmer   20    male
2          6574.0      Daniel Cortez  105    male
3          3377.0       Cindy Barber  100  female
4          5107.0      William Patel  110    male
...           ...                ...  ...     ...
9980       5619.0       Jimmy Rogers   37  female
9987       2035.0        Michael Lee    0   other
9990       4038.0  Cassandra Collins   80  female
9991       2919.0       Tyler Hunter   44  female
9993       8538.0       Harry Carter  108  female

                                                Country          State  \
0                                                   NaN       Arkansas
1                                                Uganda          Texas
2                                            Tajikistan        Montana
3                                                 Chile           Ohio
4                                           Timor-Leste         Hawaii
...                                                 ...            ...
9980  British Indian Ocean Territory (Chagos Archipe...  West Virginia
9987                                              Korea            NaN
9990                                              Chile    Mississippi
9991                                               Guam        Indiana
9993                                            Tokelau          Texas

                    City                               Email Signup_Date  \
0              Janetfort  gonzalezbrandi@shaffer-lambert.com  2021-05-23
1             Smithhaven            davidmendoza@hotmail.com  2025-05-18
2     West Jennifermouth               hoffmancole@yahoo.com  2025-05-19
3             Staceyberg            carpenterlinda@yahoo.com  2024-08-19
4        South Hollyfort     blairivan@lyons-christensen.org  2020-05-04
...                  ...                                 ...         ...
9980      South Virginia                denise66@hotmail.com  2025-08-22
9987           East Mary             alexanderryan@gmail.com  2023-05-20
9990           West Mark         stanleysarah@harrington.org  2020-02-24
9991          Tylerville                  ashley87@yahoo.com  2021-10-23
9993       West Annaberg               uhayes@clark-webb.com  2023-09-30

     Account_Status  ...                                           Comments  \
0          Inactive  ...                           During about main range.
1               NaN  ...      Beat increase state especially society color.
2            Active  ...                               That resource sound.
3            Active  ...                 Customer international base media.
4               NaN  ...                              Sport concern entire.
...             ...  ...                                                ...
9980            NaN  ...  Place shoulder try say establish director resp...
9987         Banned  ...       Month ok something low behind wrong exactly.
9990         Banned  ...           Reflect day cup religious guess involve.
9991            NaN  ...                                                NaN
9993         Active  ...          Six if soldier south support find spring.

     Customer_Loyalty Last_Login  Signup_Channel  Total_Purchase  \
0                 NaN 2025-07-23             Web         7394.28
1           Returning 2025-02-21             Web         5083.20
2           Returning 2025-04-24             web            0.00
3                 New 2025-07-28             App         7361.37
4                 New        NaT             App         6561.10
...               ...        ...             ...             ...
9980              VIP 2025-07-17             Web         4703.40
9987              VIP 2025-01-14             web         1868.00
9990        Returning 2025-02-24             web            0.00
9991              New 2025-09-22             Web         3598.86
9993              New 2025-08-01             Web         1164.13

      Discounted_Price Delivery_Duration Age_Group Loyalty_Level  Gender_Code
0               580.23          159 days     Adult          Gold          NaN
1               517.73          126 days     Adult          Gold          NaN
2                  NaN         -190 days    Senior           NaN          NaN
3               788.94          -60 days    Senior          Gold          NaN
4               897.71           -8 days    Senior          Gold          NaN
...                ...               ...       ...           ...          ...
9980            225.81         -252 days     Adult        Silver          NaN
9987            439.98          263 days       NaN        Silver          NaN
9990            717.01         -103 days    Senior           NaN          NaN
9991               NaN           -6 days     Adult        Silver          NaN
9993             64.83           34 days    Senior        Silver          NaN

[2840 rows x 30 columns]

In [ ]:
df['Payment_Type'] = df['Payment_Type'].str.strip().str.title()
print(df)

      Customer_ID               Name  Age  Gender  \
0          1191.0      Larry Wallace   31   other
1          8287.0       Shawn Palmer   20    male
2          6574.0      Daniel Cortez  105    male
3          3377.0       Cindy Barber  100  female
4          5107.0      William Patel  110    male
...           ...                ...  ...     ...
9980       5619.0       Jimmy Rogers   37  female
9987       2035.0        Michael Lee    0   other
9990       4038.0  Cassandra Collins   80  female
9991       2919.0       Tyler Hunter   44  female
9993       8538.0       Harry Carter  108  female

                                                Country          State  \
0                                                   NaN       Arkansas
1                                                Uganda          Texas
2                                            Tajikistan        Montana
3                                                 Chile           Ohio
4                                           Timor-Leste         Hawaii
...                                                 ...            ...
9980  British Indian Ocean Territory (Chagos Archipe...  West Virginia
9987                                              Korea            NaN
9990                                              Chile    Mississippi
9991                                               Guam        Indiana
9993                                            Tokelau          Texas

                    City                               Email Signup_Date  \
0              Janetfort  gonzalezbrandi@shaffer-lambert.com  2021-05-23
1             Smithhaven            davidmendoza@hotmail.com  2025-05-18
2     West Jennifermouth               hoffmancole@yahoo.com  2025-05-19
3             Staceyberg            carpenterlinda@yahoo.com  2024-08-19
4        South Hollyfort     blairivan@lyons-christensen.org  2020-05-04
...                  ...                                 ...         ...
9980      South Virginia                denise66@hotmail.com  2025-08-22
9987           East Mary             alexanderryan@gmail.com  2023-05-20
9990           West Mark         stanleysarah@harrington.org  2020-02-24
9991          Tylerville                  ashley87@yahoo.com  2021-10-23
9993       West Annaberg               uhayes@clark-webb.com  2023-09-30

     Account_Status  ...                                           Comments  \
0          Inactive  ...                           During about main range.
1               NaN  ...      Beat increase state especially society color.
2            Active  ...                               That resource sound.
3            Active  ...                 Customer international base media.
4               NaN  ...                              Sport concern entire.
...             ...  ...                                                ...
9980            NaN  ...  Place shoulder try say establish director resp...
9987         Banned  ...       Month ok something low behind wrong exactly.
9990         Banned  ...           Reflect day cup religious guess involve.
9991            NaN  ...                                                NaN
9993         Active  ...          Six if soldier south support find spring.

     Customer_Loyalty Last_Login  Signup_Channel  Total_Purchase  \
0                 NaN 2025-07-23             Web         7394.28
1           Returning 2025-02-21             Web         5083.20
2           Returning 2025-04-24             web            0.00
3                 New 2025-07-28             App         7361.37
4                 New        NaT             App         6561.10
...               ...        ...             ...             ...
9980              VIP 2025-07-17             Web         4703.40
9987              VIP 2025-01-14             web         1868.00
9990        Returning 2025-02-24             web            0.00
9991              New 2025-09-22             Web         3598.86
9993              New 2025-08-01             Web         1164.13

      Discounted_Price Delivery_Duration Age_Group Loyalty_Level  Gender_Code
0               580.23          159 days     Adult          Gold          NaN
1               517.73          126 days     Adult          Gold          NaN
2                  NaN         -190 days    Senior           NaN          NaN
3               788.94          -60 days    Senior          Gold          NaN
4               897.71           -8 days    Senior          Gold          NaN
...                ...               ...       ...           ...          ...
9980            225.81         -252 days     Adult        Silver          NaN
9987            439.98          263 days       NaN        Silver          NaN
9990            717.01         -103 days    Senior           NaN          NaN
9991               NaN           -6 days     Adult        Silver          NaN
9993             64.83           34 days    Senior        Silver          NaN

[2840 rows x 30 columns]

In [ ]:
df = df.apply(lambda x: x.str.strip().str.lower() if x.dtype == "object" else x)

print(df)

      Customer_ID               Name  Age  Gender  \
0          1191.0      larry wallace   31   other
1          8287.0       shawn palmer   20    male
2          6574.0      daniel cortez  105    male
3          3377.0       cindy barber  100  female
4          5107.0      william patel  110    male
...           ...                ...  ...     ...
9980       5619.0       jimmy rogers   37  female
9987       2035.0        michael lee    0   other
9990       4038.0  cassandra collins   80  female
9991       2919.0       tyler hunter   44  female
9993       8538.0       harry carter  108  female

                                                Country          State  \
0                                                   NaN       arkansas
1                                                uganda          texas
2                                            tajikistan        montana
3                                                 chile           ohio
4                                           timor-leste         hawaii
...                                                 ...            ...
9980  british indian ocean territory (chagos archipe...  west virginia
9987                                              korea            NaN
9990                                              chile    mississippi
9991                                               guam        indiana
9993                                            tokelau          texas

                    City                               Email Signup_Date  \
0              janetfort  gonzalezbrandi@shaffer-lambert.com  2021-05-23
1             smithhaven            davidmendoza@hotmail.com  2025-05-18
2     west jennifermouth               hoffmancole@yahoo.com  2025-05-19
3             staceyberg            carpenterlinda@yahoo.com  2024-08-19
4        south hollyfort     blairivan@lyons-christensen.org  2020-05-04
...                  ...                                 ...         ...
9980      south virginia                denise66@hotmail.com  2025-08-22
9987           east mary             alexanderryan@gmail.com  2023-05-20
9990           west mark         stanleysarah@harrington.org  2020-02-24
9991          tylerville                  ashley87@yahoo.com  2021-10-23
9993       west annaberg               uhayes@clark-webb.com  2023-09-30

     Account_Status  ...                                           Comments  \
0          inactive  ...                           during about main range.
1               NaN  ...      beat increase state especially society color.
2            active  ...                               that resource sound.
3            active  ...                 customer international base media.
4               NaN  ...                              sport concern entire.
...             ...  ...                                                ...
9980            NaN  ...  place shoulder try say establish director resp...
9987         banned  ...       month ok something low behind wrong exactly.
9990         banned  ...           reflect day cup religious guess involve.
9991            NaN  ...                                                NaN
9993         active  ...          six if soldier south support find spring.

     Customer_Loyalty Last_Login  Signup_Channel  Total_Purchase  \
0                 NaN 2025-07-23             web         7394.28
1           returning 2025-02-21             web         5083.20
2           returning 2025-04-24             web            0.00
3                 new 2025-07-28             app         7361.37
4                 new        NaT             app         6561.10
...               ...        ...             ...             ...
9980              vip 2025-07-17             web         4703.40
9987              vip 2025-01-14             web         1868.00
9990        returning 2025-02-24             web            0.00
9991              new 2025-09-22             web         3598.86
9993              new 2025-08-01             web         1164.13

      Discounted_Price Delivery_Duration Age_Group Loyalty_Level  Gender_Code
0               580.23          159 days     Adult          Gold          NaN
1               517.73          126 days     Adult          Gold          NaN
2                  NaN         -190 days    Senior           NaN          NaN
3               788.94          -60 days    Senior          Gold          NaN
4               897.71           -8 days    Senior          Gold          NaN
...                ...               ...       ...           ...          ...
9980            225.81         -252 days     Adult        Silver          NaN
9987            439.98          263 days       NaN        Silver          NaN
9990            717.01         -103 days    Senior           NaN          NaN
9991               NaN           -6 days     Adult        Silver          NaN
9993             64.83           34 days    Senior        Silver          NaN

[2840 rows x 30 columns]

In [ ]:
df['Revenue'] = df['Price'] * df['Quantity']

In [ ]:
top_5_customers = total_purchase.sort_values(by='Total', ascending=False).head(5)

In [ ]:
avg_discount = df.groupby('Category')['Discount'].mean().reset_index()

In [ ]:
avg_feedback = df.groupby('Category')['Feedback_Score'].mean().reset_index()

In [ ]:
most_popular_payment = df['Payment_Type'].value_counts().idxmax()

In [ ]:
max_order = df.loc[df['Total_Purchase'].idxmax()]

print("Customer with Highest Single Order Value:")
print(max_order[['Customer_ID', 'Total_Purchase']])

Customer with Highest Single Order Value:
Customer_ID        7924.0
Total_Purchase    19920.0
Name: 6971, dtype: object

In [ ]:
frequent_customers = order_counts[order_counts['Order_Count'] > 5]

print(frequent_customers)

Empty DataFrame
Columns: [Customer_ID, Order_Count]
Index: []

In [ ]:

order_counts = df['Customer_ID'].value_counts().reset_index()
order_counts.columns = ['Customer_ID', 'Order_Count']


frequent_customers = order_counts[order_counts['Order_Count'] > 5]

print(frequent_customers)

Empty DataFrame
Columns: [Customer_ID, Order_Count]
Index: []

In [ ]:

order_counts = df['Customer_ID'].value_counts().reset_index()
order_counts.columns = ['Customer_ID', 'Order_Count']


frequent_customers = order_counts[order_counts['Order_Count'] > 5]

print(frequent_customers)

Empty DataFrame
Columns: [Customer_ID, Order_Count]
Index: []

In [ ]:
sorted_orders = df.sort_values(by='Delivery_Duration', ascending=False)

print(sorted_orders)

      Customer_ID              Name  Age  Gender  \
1364       8989.0       kevin walsh   61  female
3972       2058.0   rebecca schmidt  109    male
1051       6723.0               NaN  117    male
1907       6896.0    stephen taylor   44    male
7048       5444.0    lauren salinas   51    male
...           ...               ...  ...     ...
7896       8801.0       brett gross   91    male
5845       7253.0   nicholas brewer   90    male
941        6618.0  raymond alvarado    7    male
8562       8709.0    michael newman   11    male
42         7532.0      sandra evans   10   other

                               Country          State                  City  \
1364                           burundi  massachusetts          lake allison
3972  lao people's democratic republic            NaN  south bradleychester
1051                          ethiopia        georgia             west paul
1907                           liberia     washington            brownmouth
7048                            guyana       colorado     lake natashamouth
...                                ...            ...                   ...
7896                           bermuda        alabama     east victoriatown
5845                           lebanon    connecticut               amyside
941                   christmas island            NaN           christyside
8562                           bahrain       kentucky     south anthonytown
42                             vanuatu        montana           raymondstad

                             Email Signup_Date Account_Status  ...  \
1364            xwheeler@yahoo.com  2022-07-30       inactive  ...
3972                           NaN  2025-10-08            NaN  ...
1051       aliciajohnson@yahoo.com  2023-01-18         active  ...
1907          kimberly40@yahoo.com  2023-12-15         active  ...
7048             dfoster@gmail.com  2023-09-16            NaN  ...
...                            ...         ...            ...  ...
7896         millerdavid@yahoo.com  2022-09-10         banned  ...
5845  julie98@stephenson-meyer.com  2020-09-07         banned  ...
941           nhamilton@turner.com  2025-05-05         active  ...
8562        walkeramanda@brown.com  2023-07-01         active  ...
42           nicholas79@finley.com  2024-06-02            NaN  ...

      Customer_Loyalty Last_Login Signup_Channel  Total_Purchase  \
1364               vip 2025-03-29            app         8798.13
3972               NaN 2025-04-08            web          983.28
1051               NaN 2025-06-03            web        13810.72
1907               vip 2025-10-02            app         1072.24
7048               vip 2025-05-18            web         2258.20
...                ...        ...            ...             ...
7896               NaN 2025-02-28          phone         3914.90
5845               new 2025-09-29            web         5108.15
941                NaN 2025-07-10            app        15562.00
8562         returning 2025-02-14          phone        11392.81
42           returning 2025-07-06            web         6507.16

      Discounted_Price  Delivery_Duration Age_Group Loyalty_Level Gender_Code  \
1364               NaN           278 days    Senior          Gold         NaN
3972            249.58           276 days    Senior        Bronze         NaN
1051            960.59           269 days    Senior      Platinum         NaN
1907            137.68           269 days     Adult        Silver         NaN
7048            455.74           268 days     Adult        Silver         NaN
...                ...                ...       ...           ...         ...
7896            362.71          -268 days    Senior        Silver         NaN
5845            250.02          -268 days    Senior          Gold         NaN
941             776.34          -269 days     Child      Platinum         NaN
8562            845.43          -270 days     Child      Platinum         NaN
42              570.83          -279 days     Child          Gold         NaN

       Revenue
1364   8798.13
3972    983.28
1051  13810.72
1907   1072.24
7048   2258.20
...        ...
7896   3914.90
5845   5108.15
941   15562.00
8562  11392.81
42     6507.16

[2840 rows x 31 columns]

In [ ]:
max_feedback = df.loc[df['Feedback_Score'].idxmax()]

min_feedback = df.loc[df['Feedback_Score'].idxmin()]

print("Product with Maximum Feedback:")
print(max_feedback[['Product_Name', 'Feedback_Score']])
print("\nProduct with Minimum Feedback:")
print(min_feedback[['Product_Name', 'Feedback_Score']])

Product with Maximum Feedback:
Product_Name      under
Feedback_Score      5.0
Name: 80, dtype: object

Product with Minimum Feedback:
Product_Name      building
Feedback_Score         1.0
Name: 28, dtype: object

In [ ]:
grouped_purchase = df.groupby(['Country', 'Category'])['Total_Purchase'].sum().reset_index()

print(grouped_purchase)

         Country     Category  Total_Purchase
0    afghanistan     clothing         2377.12
1    afghanistan  electronics        15115.39
2    afghanistan         misc        39475.83
3        albania     clothing        15005.00
4        albania  electronics        19355.40
..           ...          ...             ...
693       zambia  electronics        15725.63
694       zambia         misc        26253.07
695     zimbabwe     clothing        45393.63
696     zimbabwe  electronics        20227.48
697     zimbabwe         misc         5370.60

[698 rows x 3 columns]